body{
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
    
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-style: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #7BD3EA;
    letter-spacing: 1.5px;
    padding: 1rem 0rem 0rem 0rem;
}
nav p{
    margin-top: 0.1rem;
    padding: 0;
}

.title {
    font-family: cursive;
    font-weight: bold;
    color: #4D2DB7;
    letter-spacing: 1.2px;
  }

.waveform-text {
    display: inline-block;
    animation: waveform ease-in-out 2s infinite ;
    font-size: 1.2rem;
}

@keyframes waveform {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
#text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    padding: 0.1rem;
    /* border: 2px solid green; */
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}
.video-container{
    font-family: cursive;
    width: 100%; /* Full width */
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height:width) */
    /* overflow: hidden; */
    margin-bottom: 3px;
} 

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sequence, .aayat {
    font-family: cursive;
  font-size: 1rem;
  font-weight: 400;

}
.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
